Notion/Task_Dashboard/NotionTaskDashboardUpdater.json
{
    "name": "Notion: Task Dashboard Updates",
    "flow": [
        {
            "id": 3,
            "module": "notion:getADatabase",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2204776
            },
            "mapper": {
                "database": "12e84d32-43c5-8088-996c-f5914c12cf99"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "notion2"
                            },
                            "label": "My Notion Public connection (Eric Silberstein's Notion)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Database ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "created_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Created by"
                    },
                    {
                        "name": "last_edited_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Edited by"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "title",
                        "spec": {
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "text",
                                    "spec": [
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "link",
                                            "type": "text",
                                            "label": "Link"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                },
                                {
                                    "name": "annotations",
                                    "spec": [
                                        {
                                            "name": "bold",
                                            "type": "boolean",
                                            "label": "Bold"
                                        },
                                        {
                                            "name": "italic",
                                            "type": "boolean",
                                            "label": "Italic"
                                        },
                                        {
                                            "name": "strikethrough",
                                            "type": "boolean",
                                            "label": "Strikethrough"
                                        },
                                        {
                                            "name": "underline",
                                            "type": "boolean",
                                            "label": "Underline"
                                        },
                                        {
                                            "name": "code",
                                            "type": "boolean",
                                            "label": "Code"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Annotations"
                                },
                                {
                                    "name": "plain_text",
                                    "type": "text",
                                    "label": "Plain Text"
                                },
                                {
                                    "name": "href",
                                    "type": "text",
                                    "label": "Href"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "spec": {
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "text",
                                    "spec": [
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "link",
                                            "type": "text",
                                            "label": "Link"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                },
                                {
                                    "name": "annotations",
                                    "spec": [
                                        {
                                            "name": "bold",
                                            "type": "boolean",
                                            "label": "Bold"
                                        },
                                        {
                                            "name": "italic",
                                            "type": "boolean",
                                            "label": "Italic"
                                        },
                                        {
                                            "name": "strikethrough",
                                            "type": "boolean",
                                            "label": "Strikethrough"
                                        },
                                        {
                                            "name": "underline",
                                            "type": "boolean",
                                            "label": "Underline"
                                        },
                                        {
                                            "name": "code",
                                            "type": "boolean",
                                            "label": "Code"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Annotations"
                                },
                                {
                                    "name": "plain_text",
                                    "type": "text",
                                    "label": "Plain Text"
                                },
                                {
                                    "name": "href",
                                    "type": "text",
                                    "label": "Href"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Description"
                    },
                    {
                        "name": "is_inline",
                        "type": "boolean",
                        "label": "Is Inline"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "URL"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "options",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                },
                                                {
                                                    "name": "color",
                                                    "type": "text",
                                                    "label": "Color"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "Options"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": [
                                        {
                                            "name": "options",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                },
                                                {
                                                    "name": "color",
                                                    "type": "text",
                                                    "label": "Color"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "Options"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "precision",
                                            "type": "text",
                                            "label": "Precision"
                                        },
                                        {
                                            "name": "range",
                                            "type": "boolean",
                                            "label": "Range"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "spec": [
                                        {
                                            "name": "format",
                                            "type": "text",
                                            "label": "Format"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "File"
                                },
                                {
                                    "name": "title",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Title"
                                },
                                {
                                    "name": "text",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Text"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": [
                                        {
                                            "name": "database",
                                            "type": "text",
                                            "label": "Database"
                                        },
                                        {
                                            "name": "synced_property_name",
                                            "type": "text",
                                            "label": "Synced Property Name"
                                        },
                                        {
                                            "name": "synced_property_id",
                                            "type": "text",
                                            "label": "Synced Property ID"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Relation"
                                },
                                {
                                    "name": "rollup",
                                    "spec": [
                                        {
                                            "name": "relation_property_name",
                                            "type": "text",
                                            "label": "Relation Property Name"
                                        },
                                        {
                                            "name": "rollup_property_name",
                                            "type": "text",
                                            "label": "Rollup Property Name"
                                        },
                                        {
                                            "name": "function",
                                            "type": "text",
                                            "label": "Function"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Rollup"
                                },
                                {
                                    "name": "last_edited_time",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_time",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "properties_value",
                        "spec": [
                            {
                                "name": "Word Count",
                                "spec": [],
                                "type": "collection",
                                "label": "Word Count"
                            },
                            {
                                "name": "Due Date",
                                "spec": [],
                                "type": "collection",
                                "label": "Due Date"
                            },
                            {
                                "name": "Email of Task Creator",
                                "spec": [],
                                "type": "collection",
                                "label": "Email of Task Creator"
                            },
                            {
                                "name": "Task Type",
                                "spec": [],
                                "type": "collection",
                                "label": "Task Type"
                            },
                            {
                                "name": "Parent Task ID",
                                "spec": [],
                                "type": "collection",
                                "label": "Parent Task ID"
                            },
                            {
                                "name": "Progress",
                                "spec": [],
                                "type": "collection",
                                "label": "Progress"
                            },
                            {
                                "name": "Status",
                                "spec": [],
                                "type": "collection",
                                "label": "Status"
                            },
                            {
                                "name": "Key Count",
                                "spec": [],
                                "type": "collection",
                                "label": "Key Count"
                            },
                            {
                                "name": "Task ID",
                                "spec": [],
                                "type": "collection",
                                "label": "Task ID"
                            },
                            {
                                "name": "Task Title",
                                "spec": [],
                                "type": "collection",
                                "label": "Task Title"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "notion:searchObjects1",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2204776
            },
            "mapper": {
                "limit": "100",
                "select": "item",
                "database": "{{3.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "sorts": {
                            "mode": "chose"
                        },
                        "filter": {
                            "label": []
                        },
                        "select": {
                            "label": "Database Items"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "notion2"
                            },
                            "label": "My Notion Public connection (Eric Silberstein's Notion)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Objects",
                        "required": true,
                        "validate": {
                            "enum": [
                                "item",
                                "database",
                                "page"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://notion/1/listDatabasePropertiesFieldsForFilter",
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:does_not_equal"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "text:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "text:does_not_contain"
                                        },
                                        {
                                            "label": "Starts with",
                                            "value": "text:starts_with"
                                        },
                                        {
                                            "label": "Ends with",
                                            "value": "text:ends_with"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "text:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "text:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Number",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:does_not_equal"
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:greater_than"
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:less_than"
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:greater_than_or_equal_to"
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:less_than_or_equal_to"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "number:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "number:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:equals"
                                        },
                                        {
                                            "label": "Before",
                                            "value": "date:before"
                                        },
                                        {
                                            "label": "After",
                                            "value": "date:after"
                                        },
                                        {
                                            "label": "On or before",
                                            "value": "date:on_or_before"
                                        },
                                        {
                                            "label": "On or after",
                                            "value": "date:on_or_after"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "date:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "date:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Checkbox",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "checkbox:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "checkbox:does_not_equal"
                                        }
                                    ]
                                },
                                {
                                    "label": "File",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "file:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "file:does_not_equal"
                                        }
                                    ]
                                },
                                {
                                    "label": "Select",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "select:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "select:does_not_equal"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "select:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "select:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Multi-select",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "multiselect:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "multiselect:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "multiselect:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "multiselect:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "People",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "people:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "people:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "people:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "people:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Relation",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "relation:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "relation:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "relation:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "relation:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Formula",
                                    "options": [
                                        {
                                            "label": "String - Equals",
                                            "value": "formula:text-equals"
                                        },
                                        {
                                            "label": "String - Does not equal",
                                            "value": "formula:text-does_not_equal"
                                        },
                                        {
                                            "label": "String - Contains",
                                            "value": "formula:text-contains"
                                        },
                                        {
                                            "label": "String - Does not contain",
                                            "value": "formula:text-does_not_contain"
                                        },
                                        {
                                            "label": "String - Starts with",
                                            "value": "formula:text-starts_with"
                                        },
                                        {
                                            "label": "String - Ends with",
                                            "value": "formula:text-ends_with"
                                        },
                                        {
                                            "label": "String - Is empty (Boolean)",
                                            "value": "formula:text-is_empty"
                                        },
                                        {
                                            "label": "Text - Is not empty (boolean)",
                                            "value": "formula:text-is_not_empty"
                                        },
                                        {
                                            "label": "Checkbox - Equals",
                                            "value": "formula:checkbox-equals"
                                        },
                                        {
                                            "label": "Checkbox - Does not equal",
                                            "value": "formula:checkbox-does_not_equal"
                                        },
                                        {
                                            "label": "Number - Equals",
                                            "value": "formula:number-equals"
                                        },
                                        {
                                            "label": "Number - Does not equal",
                                            "value": "formula:number-does_not_equal"
                                        },
                                        {
                                            "label": "Number - Greater than",
                                            "value": "formula:number-greater_than"
                                        },
                                        {
                                            "label": "Number - Less than",
                                            "value": "formula:number-less_than"
                                        },
                                        {
                                            "label": "Number - Greater than or equal to",
                                            "value": "formula:number-greater_than_or_equal_to"
                                        },
                                        {
                                            "label": "Number - Less than or equal to",
                                            "value": "formula:number-less_than_or_equal_to"
                                        },
                                        {
                                            "label": "Number - Is empty (Boolean)",
                                            "value": "formula:number-is_empty"
                                        },
                                        {
                                            "label": "Number - Is not empty (boolean)",
                                            "value": "formula:number-is_not_empty"
                                        },
                                        {
                                            "label": "Date - Equals",
                                            "value": "formula:date-equals"
                                        },
                                        {
                                            "label": "Date - before",
                                            "value": "formula:date-before"
                                        },
                                        {
                                            "label": "Date - after",
                                            "value": "formula:date-after"
                                        },
                                        {
                                            "label": "Date - On or before",
                                            "value": "formula:date-on_or_before"
                                        },
                                        {
                                            "label": "Date - On or after",
                                            "value": "formula:date-on_or_after"
                                        },
                                        {
                                            "label": "Date - Is empty (Boolean)",
                                            "value": "formula:date-is_empty"
                                        },
                                        {
                                            "label": "Date - Is not empty (boolean)",
                                            "value": "formula:date-is_not_empty"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "sorts",
                        "spec": [
                            {
                                "name": "select",
                                "type": "select",
                                "label": "Select a Field to Sort",
                                "options": [
                                    {
                                        "label": "Property Field",
                                        "value": "property",
                                        "nested": [
                                            {
                                                "name": "property",
                                                "type": "select",
                                                "label": "Property Field",
                                                "options": "rpc://notion/1/listDatabasePropertiesFieldsForFilter?sortParameter=true",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Timestamp",
                                        "value": "timestamp",
                                        "nested": [
                                            {
                                                "name": "timestamp",
                                                "type": "select",
                                                "label": "Timestamp",
                                                "options": [
                                                    {
                                                        "label": "Created time",
                                                        "value": "created_time",
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Last edited time",
                                                        "value": "last_edited_time"
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "default": true
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": "ascending"
                                    },
                                    {
                                        "label": "Descending",
                                        "value": "descending"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sorts"
                    }
                ],
                "interface": [
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Page ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "created_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Created by"
                    },
                    {
                        "name": "last_edited_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Edited by"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "properties_value",
                        "spec": [
                            {
                                "name": "Word Count",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Word Count"
                            },
                            {
                                "name": "Due Date",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Due Date"
                            },
                            {
                                "name": "Email of Task Creator",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Email of Task Creator"
                            },
                            {
                                "name": "Task Type",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Task Type"
                            },
                            {
                                "name": "Parent Task ID",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Parent Task ID"
                            },
                            {
                                "name": "Progress",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Progress"
                            },
                            {
                                "name": "Status",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "color",
                                        "type": "text",
                                        "label": "Color"
                                    }
                                ],
                                "type": "collection",
                                "label": "Status"
                            },
                            {
                                "name": "Key Count",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Key Count"
                            },
                            {
                                "name": "Task ID",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Task ID"
                            },
                            {
                                "name": "Task Title",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Task Title"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "lokalise:getATask",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 899794
            },
            "mapper": {
                "task_id": "{{4.properties_value.`Task ID`[].plain_text}}",
                "project_id": "8530821864d3e26c5cb2b9.72951273"
            },
            "metadata": {
                "designer": {
                    "x": 738,
                    "y": 2
                },
                "restore": {
                    "expect": {
                        "project_id": {
                            "mode": "chose",
                            "label": "Make.com Integration Doc-Type Project"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "lokalise"
                            },
                            "label": "Eric Make Document Project"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:lokalise",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "project_id",
                        "type": "select",
                        "label": "Project Name",
                        "required": true
                    },
                    {
                        "name": "task_id",
                        "type": "text",
                        "label": "Task ID",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 9,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 911,
                            "y": 246
                        }
                    }
                }
            ]
        },
        {
            "id": 7,
            "module": "notion:updateADatabaseItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2204776
            },
            "mapper": {
                "page": "{{4.id}}",
                "fields": {
                    "gvhH": "{{6.task.progress}}",
                    "title": "{{6.task.title}}"
                },
                "select": "list",
                "database": "12e84d32-43c5-8088-996c-f5914c12cf99"
            },
            "metadata": {
                "designer": {
                    "x": 1038,
                    "y": -148
                },
                "restore": {
                    "expect": {
                        "page": {
                            "mode": "edit"
                        },
                        "fields": {
                            "nested": {
                                "q_%5Dy": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "select": {
                            "label": "Select from the list"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "notion2"
                            },
                            "label": "My Notion Public connection (Eric Silberstein's Notion)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Database ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                    },
                    {
                        "mode": "edit",
                        "name": "page",
                        "type": "select",
                        "label": "Database Item ID",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Task Title",
                                "metadata": {
                                    "type": "title"
                                }
                            },
                            {
                                "name": "%3BATM",
                                "type": "text",
                                "label": "Word Count",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            },
                            {
                                "name": "F%7CsG",
                                "type": "text",
                                "label": "Due Date",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            },
                            {
                                "name": "OfjJ",
                                "type": "text",
                                "label": "Email of Task Creator",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            },
                            {
                                "name": "XFeP",
                                "type": "text",
                                "label": "Task Type",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            },
                            {
                                "name": "%60w%7C%3C",
                                "type": "text",
                                "label": "Parent Task ID",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            },
                            {
                                "name": "gvhH",
                                "type": "text",
                                "label": "Progress",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            },
                            {
                                "name": "q_%5Dy",
                                "type": "select",
                                "label": "Status",
                                "metadata": {
                                    "type": "status"
                                },
                                "validate": {
                                    "enum": [
                                        "Not started",
                                        "In progress",
                                        "Done"
                                    ]
                                }
                            },
                            {
                                "name": "wF_B",
                                "type": "text",
                                "label": "Key Count",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            },
                            {
                                "name": "xA~e",
                                "type": "text",
                                "label": "Task ID",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    }
                ],
                "interface": [
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Database Item ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "properties_value",
                        "spec": [
                            {
                                "name": "Word Count",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Word Count"
                            },
                            {
                                "name": "Due Date",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Due Date"
                            },
                            {
                                "name": "Email of Task Creator",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Email of Task Creator"
                            },
                            {
                                "name": "Task Type",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Task Type"
                            },
                            {
                                "name": "Parent Task ID",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Parent Task ID"
                            },
                            {
                                "name": "Progress",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Progress"
                            },
                            {
                                "name": "Status",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "color",
                                        "type": "text",
                                        "label": "Color"
                                    }
                                ],
                                "type": "collection",
                                "label": "Status"
                            },
                            {
                                "name": "Key Count",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Key Count"
                            },
                            {
                                "name": "Task ID",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Task ID"
                            },
                            {
                                "name": "Task Title",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Task Title"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 8,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 1338,
                            "y": 2
                        }
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}